body{
    background-color: #c9e4e4;;
}
   
hr{
    background-color: white;
    border-style: none;
    height: 1px;
    width: 100% 
}

h1{
    color: rgb(38, 7, 93);
}

h3{
    color: rgb(38, 7, 93);  
}